{% extends 'base/default.html' %}

{% block content %}

<c-example.anime.layout.daftaranime.base >
    <c-slot name="content">
        <c-example.anime.section.daftaranime title="daftar anime">

            <c-libs.anime.tabs.daftaranime.base>
                <c-slot name="nav_tabs">
                    {% for list in huruf %}

                      {% if list == 'A' %}
                      <c-libs.anime.tabs.daftaranime.nav name="{{list}}" status="active" select="true"/>
                      {% else %}
                      <c-libs.anime.tabs.daftaranime.nav name="{{list}}" select="false"/>
                      {% endif %}
                    
                    {% endfor %}
                    
                </c-slot>

                <c-slot name="nav_content">
                    <c-libs.anime.tabs.daftaranime.content name="A">
                      <c-slot name="content">
                        <c-example.anime.section.contenttabsjadwal>

                          {% for anime in anime_a %}
                                <c-example.anime.animeitem.1 
                                url="{% url 'animedetail' %}"
                                title="{{anime.title}}" 
                                thumbnail="{{anime.thumbnail}}" 
                                synopsis="{{anime.synopsis}}"/>

                          {% endfor %}
                        </c-example.anime.section.contenttabsjadwal>
                      </c-slot>
                    </c-libs.anime.tabs.daftaranime.content>

                    <c-libs.anime.tabs.daftaranime.content name="B" class="hidden">
                      <c-slot name="content">
                        <c-example.anime.section.contenttabsjadwal>

                          {% for anime in anime_b %}
                                <c-example.anime.animeitem.1 
                                url="{% url 'animedetail' %}"
                                title="{{anime.title}}" 
                                thumbnail="{{anime.thumbnail}}" 
                                synopsis="{{anime.synopsis}}"/>

                          {% endfor %}
                        </c-example.anime.section.contenttabsjadwal>
                      </c-slot>
                    </c-libs.anime.tabs.daftaranime.content>


                    <c-libs.anime.tabs.daftaranime.content name="C" class="hidden">
                      <c-slot name="content">
                        <c-example.anime.section.contenttabsjadwal>

                          {% for anime in anime_c %}
                                <c-example.anime.animeitem.1 
                                url="{% url 'animedetail' %}"
                                title="{{anime.title}}" 
                                thumbnail="{{anime.thumbnail}}" 
                                synopsis="{{anime.synopsis}}"/>

                          {% endfor %}
                        </c-example.anime.section.contenttabsjadwal>
                      </c-slot>
                    </c-libs.anime.tabs.daftaranime.content>

                    <c-libs.anime.tabs.daftaranime.content name="D" class="hidden">
                      <c-slot name="content">
                        <c-example.anime.section.contenttabsjadwal>

                          {% for anime in anime_d %}
                                <c-example.anime.animeitem.1 
                                url="{% url 'animedetail' %}"
                                title="{{anime.title}}" 
                                thumbnail="{{anime.thumbnail}}" 
                                synopsis="{{anime.synopsis}}"/>

                          {% endfor %}
                        </c-example.anime.section.contenttabsjadwal>
                      </c-slot>
                    </c-libs.anime.tabs.daftaranime.content>

                    <c-libs.anime.tabs.daftaranime.content name="E" class="hidden">
                      <c-slot name="content">
                        <c-example.anime.section.contenttabsjadwal>

                          {% for anime in anime_e %}
                                <c-example.anime.animeitem.1 
                                url="{% url 'animedetail' %}"
                                title="{{anime.title}}" 
                                thumbnail="{{anime.thumbnail}}" 
                                synopsis="{{anime.synopsis}}"/>

                          {% endfor %}
                        </c-example.anime.section.contenttabsjadwal>
                      </c-slot>
                    </c-libs.anime.tabs.daftaranime.content>




                </c-slot>
            </c-libs.anime.tabs.daftaranime.base>

        </c-example.anime.section.daftaranime>
    </c-slot>
    <c-slot name="sidebar">
        <c-example.anime.sidebar.1 />
    </c-slot>
</c-example.anime.layout.daftaranime.base>
{% endblock %}
