{% extends 'base/default.html' %}

{% block content %}

<c-example.anime.layout.jadwalrilis.base >
    <c-slot name="content">
        <c-example.anime.section.jadwalrilis title="jadwal rilis">

            <c-libs.anime.tabs.jadwalrilis.base>
                <c-slot name="nav_tabs">
                    <c-libs.anime.tabs.jadwalrilis.nav name="Senin" status="active" select="true"/>
                    <c-libs.anime.tabs.jadwalrilis.nav name="Selasa" select="false"/>
                    <c-libs.anime.tabs.jadwalrilis.nav name="Rabu" select="false"/>
                    <c-libs.anime.tabs.jadwalrilis.nav name="Kamis" select="false"/>
                    <c-libs.anime.tabs.jadwalrilis.nav name="Jumat" select="false"/>
                    <c-libs.anime.tabs.jadwalrilis.nav name="Sabtu" select="false"/>
                    <c-libs.anime.tabs.jadwalrilis.nav name="Minggu" select="false"/>
                </c-slot>

                <c-slot name="nav_content">
                    <c-libs.anime.tabs.jadwalrilis.content name="Senin">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_senin %}

                                    <c-example.anime.animeitem.1 
                                    url="{% url 'animeplay' %}"
                                    title="{{anime.title}}" 
                                    thumbnail="{{anime.thumbnail}}" 
                                    synopsis="{{anime.synopsis}}"/> 

                                {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                    <c-libs.anime.tabs.jadwalrilis.content class="hidden" name="Selasa">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_selasa %}

                                <c-example.anime.animeitem.1 
                                url="{% url 'animeplay' %}"
                                title="{{anime.title}}" 
                                thumbnail="{{anime.thumbnail}}" 
                                synopsis="{{anime.synopsis}}"/> 

                            {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                    <c-libs.anime.tabs.jadwalrilis.content class="hidden" name="Rabu">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_rabu %}

                                    <c-example.anime.animeitem.1 
                                    url="{% url 'animeplay' %}"
                                    title="{{anime.title}}" 
                                    thumbnail="{{anime.thumbnail}}" 
                                    synopsis="{{anime.synopsis}}"/> 

                                {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                    <c-libs.anime.tabs.jadwalrilis.content class="hidden" name="Kamis">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_kamis %}

                                    <c-example.anime.animeitem.1 
                                    url="{% url 'animeplay' %}"
                                    title="{{anime.title}}" 
                                    thumbnail="{{anime.thumbnail}}" 
                                    synopsis="{{anime.synopsis}}"/> 

                                {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                    <c-libs.anime.tabs.jadwalrilis.content class="hidden" name="Jumat">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_jumat %}

                                    <c-example.anime.animeitem.1 
                                    url="{% url 'animeplay' %}"
                                    title="{{anime.title}}" 
                                    thumbnail="{{anime.thumbnail}}" 
                                    synopsis="{{anime.synopsis}}"/> 

                                {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                    <c-libs.anime.tabs.jadwalrilis.content class="hidden" name="Sabtu">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_sabtu %}

                                    <c-example.anime.animeitem.1 
                                    url="{% url 'animeplay' %}"
                                    title="{{anime.title}}" 
                                    thumbnail="{{anime.thumbnail}}" 
                                    synopsis="{{anime.synopsis}}"/> 

                                {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                    <c-libs.anime.tabs.jadwalrilis.content class="hidden" name="Minggu">
                        <c-slot name="content">
                            <c-example.anime.section.contenttabsjadwal>
                                {% for anime in jadwal_minggu %}

                                    <c-example.anime.animeitem.1 
                                    url="{% url 'animeplay' %}"
                                    title="{{anime.title}}" 
                                    thumbnail="{{anime.thumbnail}}" 
                                    synopsis="{{anime.synopsis}}"/> 

                                {% endfor %}
                            </c-example.anime.section.contenttabsjadwal>
                        </c-slot>
                    </c-libs.anime.tabs.jadwalrilis.content>
                </c-slot>
            </c-libs.anime.tabs.jadwalrilis.base>

        </c-example.anime.section.jadwalrilis>
    </c-slot>
    <c-slot name="sidebar">
        <c-example.anime.sidebar.1 />
    </c-slot>
</c-example.anime.layout.jadwalrilis.base>
{% endblock %}
