{% extends 'base/default.html' %}

{% block content %}

<c-example.anime.layout.jadwalrilis.base >
    <c-slot name="content">
        <c-example.anime.section.jadwalrilis title="Daftar genre anime">

            <c-libs.anime.tabs.jadwalrilis.base>
                <c-slot name="nav_tabs">
                    {% for genre in genres %}
                        {% if genre == "Action" %}
                         <c-libs.anime.tabs.genre.nav name="{{genre}}" url="#"  select="false"/>
    
                        {% else %}
                         <c-libs.anime.tabs.genre.nav name="{{genre}}" url="#"  select="false"/>
                        {% endif %}
                    {% endfor %}
                </c-slot>

               
            </c-libs.anime.tabs.jadwalrilis.base>

        </c-example.anime.section.jadwalrilis>
    </c-slot>
    <c-slot name="sidebar">
        <c-example.anime.sidebar.1 />
    </c-slot>
</c-example.anime.layout.jadwalrilis.base>
{% endblock %}
